nombre {
    color: red;
}
abreviatura {
    color: blue;
}
capilal {
    color: blueviolet;
}
nombre,
abreviatura,
capilal {
    display: block;
}
pais {
    counter-reset: contador;
}
nombre:before {
    content: counter(contador, upper-alpha) ": ";
    counter-increment: contador;
}
